In [18]:
import pandas as pd

df = pd.read_csv("NewMarch.csv")

In [19]:
df.head()

,Place,Query,Datetime,Text,retweets,favourites,hashtags,Subjectivity,Polarity
0,Jharkhand,coronavirus,2020-03-29 16:23:31+00:00,In war global epidemic coronavirus I donated ₹...,1,9,#coronavirus #PMCARES,0.000000,0.000000
1,Jharkhand,coronavirus,2020-03-18 05:40:36+00:00,Dear liberals Please pray Corona virus cases g...,0,0,NaN,0.400000,-0.150000
2,Jharkhand,coronavirus,2020-03-19 08:09:44+00:00,Sir treatment available corona virus Jharkhand,0,0,NaN,0.400000,0.400000
3,Jharkhand,covid19,2020-03-11 18:05:59+00:00,Replying WHO `` Coronavirus confirmed pandemic...,0,2,#WHO #COVID19,0.597222,0.119444
4,Jharkhand,coronavirus,2020-03-26 08:26:04+00:00,jharkhand HemantSorenJMM WeAreRanchi WeAreDhan...,0,0,#jharkhand,0.225000,-0.058333

In [20]:
import re
from datetime import datetime

def date_extract(text):
    
    match = re.search(r'\d{4}-\d{2}-\d{2}', text)
    date = datetime.strptime(match.group(), '%Y-%m-%d').date()
    return date


df["Datetime"] = df["Datetime"].apply(date_extract)
df["Datetime"].head()

0    2020-03-29
1    2020-03-18
2    2020-03-19
3    2020-03-11
4    2020-03-26
Name: Datetime, dtype: object

In [21]:
df.head()

,Place,Query,Datetime,Text,retweets,favourites,hashtags,Subjectivity,Polarity
0,Jharkhand,coronavirus,2020-03-29,In war global epidemic coronavirus I donated ₹...,1,9,#coronavirus #PMCARES,0.000000,0.000000
1,Jharkhand,coronavirus,2020-03-18,Dear liberals Please pray Corona virus cases g...,0,0,NaN,0.400000,-0.150000
2,Jharkhand,coronavirus,2020-03-19,Sir treatment available corona virus Jharkhand,0,0,NaN,0.400000,0.400000
3,Jharkhand,covid19,2020-03-11,Replying WHO `` Coronavirus confirmed pandemic...,0,2,#WHO #COVID19,0.597222,0.119444
4,Jharkhand,coronavirus,2020-03-26,jharkhand HemantSorenJMM WeAreRanchi WeAreDhan...,0,0,#jharkhand,0.225000,-0.058333

In [22]:
dff = pd.DataFrame()

In [23]:
df = df.sort_values(by='Datetime')

In [26]:
df.Datetime.astype(str)

25758    2020-03-01
25036    2020-03-01
110      2020-03-01
26144    2020-03-01
29236    2020-03-01
            ...
13414    2020-03-30
13413    2020-03-30
13412    2020-03-30
13410    2020-03-30
12796    2020-03-30
Name: Datetime, Length: 42318, dtype: object

In [32]:
t = df.Datetime.unique()
t[0]

datetime.date(2020, 3, 1)

In [48]:
from statistics import mean

def ok(da):
    temp = df["Polarity"].where(df['Datetime']==t[0])
    temp = [x for x in temp if str(x) != 'nan']
    lul = mean(temp)
    print(lul)
    return (da, lul)

    
lst = []
for da in t:
    print()
    print(f'date:{da}')
    lst.append(ok(da))

date:2020-03-01
0.11148607992592592

date:2020-03-02
0.11148607992592592

date:2020-03-03
0.11148607992592592

date:2020-03-04
0.11148607992592592

date:2020-03-05
0.11148607992592592

date:2020-03-06
0.11148607992592592

date:2020-03-07
0.11148607992592592

date:2020-03-08
0.11148607992592592

date:2020-03-09
0.11148607992592592

date:2020-03-10
0.11148607992592592

date:2020-03-11
0.11148607992592592

date:2020-03-12
0.11148607992592592

date:2020-03-13
0.11148607992592592

date:2020-03-14
0.11148607992592592

date:2020-03-15
0.11148607992592592

date:2020-03-16
0.11148607992592592

date:2020-03-17
0.11148607992592592

date:2020-03-18
0.11148607992592592

date:2020-03-19
0.11148607992592592

date:2020-03-20
0.11148607992592592

date:2020-03-21
0.11148607992592592

date:2020-03-22
0.11148607992592592

date:2020-03-23
0.11148607992592592

date:2020-03-24
0.11148607992592592

date:2020-03-25
0.11148607992592592

date:2020-03-26
0.11148607992592592

date:2020-03-27
0.11148607992592592

date:2020-03-28
0.11148607992592592

date:2020-03-29
0.11148607992592592

date:2020-03-30
0.11148607992592592

In [50]:
dff = pd.DataFrame(lst)
dff.columns = ['date', 'Polarity']

In [51]:
dff.head()

         date  Polarity
0  2020-03-01  0.111486
1  2020-03-02  0.111486
2  2020-03-03  0.111486
3  2020-03-04  0.111486
4  2020-03-05  0.111486